{% load static %}
<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
 </head>
 <body>
    <div id="header">
    <a href="/" class="logo">My shop</a>
    {% if messages %}
 <ul class="messages">
 {% for message in messages %}
 <li class="{{ message.tags }}">
 {{ message|safe }}
 <a href="#" class="close">x</a>
 </li>
 {% endfor %}
 </ul>
{% endif %}
    </div>
    <div id="subheader">
      <div class="cart">
         {% with total_items=cart|length %}
         {% if total_items > 0 %}
         Your cart:
         <a href="{% url "cart:cart_detail" %}">
         {{ total_items }} item{{ total_items|pluralize }},
         ${{ cart.get_total_price }}
         </a>
         {% else %}
         Your cart is empty.
         {% endif %}
         {% endwith %}
      </div>
    </div>
    
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
    <span class="user">
      {% if request.user.is_authenticated %}
         Hello {{ request.user.username }},

         <a href="{% url "dashboard:logout" %}?next=/">Logout</a>
      {% else %}
         <a href="{% url "dashboard:login" %}">Log-in</a>
      {% endif %}
      </span>
 </body>
</html>